body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 25px;
  height: 5em;
  font-weight: bold;
}
