.main-container {
    background-color: #292626;
    height: 83vh;
}

.btn-level {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.message-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: 20px;
}

.color-choosed-container {
    display: flex;
    align-items: center;
}

.squares-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 70px;
    padding-top: 5%;
    margin: 0 15%;
}

button:focus {
    outline: 0;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .main-container {
        height: 86vh;
    }
    .message-alert {
        font-size: 20px;
    }
    .btn-level {
        width: 70%;
    }
    .squares-container {
        margin: 15% 5%;
        grid-row-gap: 35px;
    }
}

@media screen and (min-width: 500px) and (max-width: 790px) {
    .main-container {
        height: 85.2vh;
    }
    .btn-level {
        width: 30%;
    }
    .squares-container {
        margin: 0 10%;
    }
}