.btn-hard {
    background-color: #F44336;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.btn-hard:hover {
    background-color: white;
    color: #F44336;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .btn-hard {
        font-size: 17px;
    }
}