.btn-newGame {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.btn-new {
    background-color: #7e8a9d;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.btn-new:hover {
    background-color: black;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .btn-newGame {
        margin: 25px;
    }
    .btn-new {  
        font-size: 17px;
    }
}