.btn-newGame {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.btn-new {
    background-color: #7e8a9d;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.btn-new:hover {
    background-color: black;
}

